*{
    padding: 0;
    margin: 0;
    color: rgb(255, 255, 255);
}
.nav_bar{
    background-color: black;
    height: 90px;
    display: flex;
    align-items: center;

}
#spo_img{
    height: 80px;
    width: 150px;
    background-image: url("spotify_logo.webp");
    background-size: cover;
    margin-bottom: 13px;
}
#home_bar{
    display: flex;
    align-items: center;
}
#home_bar div{
    padding: 30px;
    font-size: 25px;
    font-weight: bolder;
}
#home_bar div:hover{
    font-size: 26px;
    color: antiquewhite;
    cursor: pointer;
}
.bottom{
    position: sticky;
    background-color: black;
    height: 45px;
    /* margin-top: 718px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
#progress_bar{
    margin-top: 18px;
    height: 40px;
    width: 80%;
}
#play_pause{
    background-color: black;
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{
    height: 52px;
    width: 41px;
    font-size: 40px;
    padding: 8px 20px 0px 20px;
}
.conatiner{
    height: 710px;
    background-image: url("backg_img.jpg");
    background-size: cover;
}
.img1{
    height: 30px;
    width: 100px;
    background-color: rgb(240, 233, 225);
}
.song_list{
    background-color: aqua;
    height: 50px;
    width: 300px;
    display: flex;
}
.songimg{
    height: 28px;
}